@page "/"

<PageTitle>Index</PageTitle>

<h1>Wiffy Management!</h1>

Welcome to wiffy management applicaiton where we can manage our product.

@code
{

}
<SurveyPrompt Title="How is Blazor working for you?" />
